.brand-link {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.8125rem 0.5rem;
  transition: width .3s ease-in-out;
  white-space: nowrap;

  .brand-image {
    float: left;
    line-height: .8;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    margin-top: -3px;
    max-height: 33px;
    width: auto;
  }
}

.sidebar-dark {
  .brand-link {
    color: rgba(255, 255, 255, .8);
  }
}