.dropdown-menu-lg {
  max-width: 300px;
  min-width: 280px;
  padding: 0;
}

.dropdown-menu-lg .dropdown-item {
  padding: 0.5rem 1rem;
}

.dropdown-item-title {
  font-size: 1rem;
  margin: 0;
}

.dropdown-menu-lg p {
  margin: 0;
  white-space: normal;
}

.dropdown-footer, .dropdown-header {
  display: block;
  font-size: .875rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.dropdown-divider {
  margin: 0 !important;
}