.navbar-badge {
  font-size: .6rem;
  font-weight: 300;
  padding: 2px 4px;
  position: absolute;
  right: 3px;
  top: 9px;
}

.main-header .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  height: 2.5rem;
  position: relative;
}