.nav-sidebar {
  .menu-is-opening {
    > .nav-link {
      .right {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
    }
  }

  .menu-open {
    > .nav-link {
      .right {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
    }
  }
}

.img-size-50 {
  width: 50px;
}

.img-size-32, .img-size-50, .img-size-64 {
  height: auto;
}