.nav-sidebar {
  position: relative;

  .nav-item {
    > .nav-link {
      position: relative;
    }

    .nav-link {
      width: calc(250px - 0.5rem * 2);
      transition: width ease-in-out .3s;
    }
  }
}