.sidebar-collapse {

  .main-header {
    margin-left: 4.6rem !important;
  }

  .main-sidebar {
    margin-left: 0;
    width: 4.6rem;

    .user-panel {

      .image {
        float: none;
      }

      .info {
        margin-left: -10px;
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        visibility: hidden;
      }
    }

    .nav-sidebar {

      .nav-link {
        width: 3.6rem;
      }
    }
  }

  .brand-link {
    width: 4.6rem;
  }

  .brand-text {
    margin-left: -10px;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: hidden;
  }

  .sidebar {

    .nav-sidebar {

      .nav-link {

        p {
          margin-left: -10px;
          -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
          -webkit-animation-duration: .3s;
          animation-duration: .3s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          visibility: hidden;
          width: 0;
          white-space: nowrap;
        }
      }
    }
  }

  .content-wrapper {
    margin-left: 4.6rem !important;
  }

  .main-footer {
    margin-left: 4.6rem !important;
  }
}

.sidebar-mini {

  .nav-sidebar {
    white-space: nowrap;

    .nav-link {
      white-space: nowrap;
    }
  }
}

.sidebar-dark-primary {

  .nav-sidebar {

    .nav-item {

      .nav-link.active {
        background-color: #007bff;
        color: #fff;
      }
    }
  }
}