.small-box {
  > .inner {
    padding: 10px;
  }

  h3 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
  }

  p {
    z-index: 5;
    font-size: 1rem;
  }

  .icon {
    color: rgba(0, 0, 0, .15);
    z-index: 0;

    > svg {
      font-size: 90px;
      position: absolute;
      right: 15px;
      top: 15px;
      transition: -webkit-transform .3s linear;
      transition: transform .3s linear;
      transition: transform .3s linear, -webkit-transform .3s linear;
    }
  }

  > .small-box-footer {
    background-color: rgba(0, 0, 0, .1);
    color: rgba(255, 255, 255, .8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
  }
}